@model ProyectoProgram.Models.tblcuentaNivel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BarraNavegacion.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblcuentaNivel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUMERONIVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERONIVEL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDNIVEL }) |
    @Html.ActionLink("Back to Lxist", "Index")
</p>
